.activity_feed {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex-shrink: 0;
}

.activity_feed_collection {
  display: flex;
  flex-direction: column;
}

.activity_feed_heading {
  padding: 16px;
  padding-bottom: 36px;
  border-bottom: solid 3px rgb(255, 255, 255);
  margin: 20px
}

.activity_feed_heading .title{
  color: rgb(72,77,95);
  font-weight: 800;
  font-size: 20px;
}
