nav {
  flex-shrink: 1;
  width: 280px;
  padding-top: 16px;
  padding-right: 24px;
}
nav .logo {
  width: 48px;
  height: 48px;
  fill: rgb(235, 127, 27);
}

nav a.primary {
  display: flex;
  gap: 24px;
  align-items: center;
  background-color: rgb(231, 40, 151);
  border-radius: 25px;
  color: rgb(255, 255, 255);
  font-size: 20px;
  text-decoration: none;
  padding: 10px 20px;
  margin: 8px 0 8px 10px;
}
nav a.primary:hover {
  color: rgb(37, 6, 109);
}
nav a.primary .icon {
  fill: rgb(255, 255, 255);
  width: 24px;
  height: 24px;
}

nav a.primary:hover .icon {
  fill: rgb(37, 6, 109)
}

nav a.primary.active {
  color: rgb(37, 6, 109) !important;
  font-weight: 600;
}
nav a.primary.active svg {
  fill: rgb(37, 6, 109) !important;
}

nav button.post {
  display: block;
  background: rgb(235, 127, 27);
  color: #ffffff;
  border: none;
  text-decoration: none;
  border-radius: 999px;
  width: 100%;
  font-size: 20px;
  padding: 16px 0px;
  font-weight: 600;
  text-align: center;
  margin-top: 24px;
}