.join {
  display: flex;
  flex-direction: column;
  background: rgb(235, 127, 27);
  border-radius: 8px;
  margin-top: 24px;
}

.join .join-title {
  font-size: 16px;
  color: #fff;
  padding: 16px;
  border-bottom: solid 3px rgb(255, 255, 255);
  margin: 0 20px;
  font-weight: bold;
}

.join p {
  color: #fff;
  font-size: 16px;
  text-align: center;
}

.join-content {
  padding: 24px;
  padding-top: 12px;
}

.join-content a.action {
  display: block;
  background: rgb(255, 255, 255);
  color: rgb(235, 127, 27);
  border: none;
  text-decoration: none;
  border-radius: 999px;
  width: 100%;
  font-size: 20px;
  padding: 16px 0px;
  font-weight: 600;
  text-align: center;
  margin-top: 24px;
}

.join-content a.subaction {
  color: rgb(255, 255, 255);
  text-align: center;
  text-decoration: none;
  display: block;
  padding: 12px 0px;
  margin-top: 12px;
  font-size: 16px;
}